<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paypro_gateway>
                <testmode>0</testmode>
                <model>PayPro\PaymentGateway\Model\Methods\Gateway</model>
                <api_key/>
                <product_id/>
            </paypro_gateway>
            <paypro_afterpay>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\Afterpay</model>
                <title>Afterpay</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </paypro_afterpay>
            <paypro_bancontact>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\Bancontact</model>
                <title>Bancontact</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>2</sort_order>
            </paypro_bancontact>
            <paypro_ideal>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\Ideal</model>
                <title>iDEAL</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>3</sort_order>
            </paypro_ideal>
            <paypro_mastercard>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\Mastercard</model>
                <title>Mastercard</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>4</sort_order>
            </paypro_mastercard>
            <paypro_paypal>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\Paypal</model>
                <title>Paypal</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>5</sort_order>
            </paypro_paypal>
            <paypro_sepa>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\Sepa</model>
                <title>Banktransfer</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>6</sort_order>
            </paypro_sepa>
            <paypro_sepa_once>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\SepaOnce</model>
                <title>Direct Debit</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>7</sort_order>
            </paypro_sepa_once>
            <paypro_sofort_physical>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\SofortPhysical</model>
                <title>Sofort</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>8</sort_order>
            </paypro_sofort_physical>
            <paypro_visa>
                <active>0</active>
                <model>PayPro\PaymentGateway\Model\Methods\Visa</model>
                <title>Visa</title>
                <order_status>pending_payment</order_status>
                <currency>EUR</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>9</sort_order>
            </paypro_visa>
        </payment>
    </default>
</config>
